<div id="body">
  <!---Contenedor principal-->
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark ">
    <!---Barra de navegacion-->
    <img src="assets/images/angular.png" width="30" height="30" alt="">
    <a class="navbar-brand" href="#">NG-Block</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="identity">
          <a class="nav-link" [routerLink]="['/stations']">Estaciones <span class="sr-only">(current)</span></a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right" *ngIf="!identity">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">Registro</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right" *ngIf="identity && identity.name">
        <div class="avatar_mask">

          <li *ngIf="identity && identity.image" class="nav-item">
            <img src="{{url + 'user/avatar/'+ identity.image}}" class="avatar-navbar">
          </li>

          <li *ngIf="identity && !identity.image" class="nav-item">
            <img src="../assets/img/avatar.png" class="avatar-navbar" width="45" height="45">
          </li>
        </div>

<!------------------>

        <li class="nav-item dropdown dropleft text-center" *ngIf="identity">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{identity.username}}
          </a>

          <div class="dropdown-menu ">

            <h4 class="text-center">{{identity.name}}<br>{{identity.surname}}</h4>

            <div class="center">
              <div class="avatar_mask" *ngIf="identity.image">
                <a class="nav-link p-0">
                  <img src="{{url + 'avatar/'+ identity.image}}" class="rounded z-depth-0" alt="avatar image"
                    width="100" height="100">
                </a>
              </div>
              <div class="avatar_mask" *ngIf="!identity.image">
                <a class="nav-link p-0 text-center">
                  <img src="../assets/img/avatar.png" class="rounded z-depth-0" alt="avatar image"
                    width="100" height="100">
                </a>
              </div>
              
            </div>

            <div class="form-group">

            </div>

            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a>
            <a class="dropdown-item" [routerLink]="['/perfil', identity.sub]">Mi perfil</a>
            <a class="dropdown-item" [routerLink]="['/logout/1']">Cerrar sesion</a>
          </div>

        </li>



      </ul>
    </div>
  </nav>

  <!---Cerrar Barra de navegacion-->
  <router-outlet></router-outlet>

</div>

  <footer>
    Designed by KM Creator &copy;
    <br>
    Powered by Angular and Symfony
  </footer>

  <!---Cerrar Contenedor principal-->
